.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
  display: flex;
  flex-direction: column; /* Align text below the thumbnail */
  align-items: center;
}

.card-list .card p {
  margin-top: 8px; /* Space between thumbnail and text */
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #fffbfb;
}

.card-list img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.card:hover .card-buttons {
  opacity: 1; /* Buttons appear on hover */
}

.button-edit,
.button-delete {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.button-edit:hover {
  background-color: rgba(150, 0, 117, 0.8); /* Green hover for Edit */
}

.button-delete:hover {
  background-color: rgba(200, 0, 0, 0.8); /* Red hover for Delete */
}
