
.navbar{
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  padding: 20px 6%;
  justify-content: space-between;

}
.improve-logo{
  display: flex;
  font-size: 50px;
  margin-top: 50px;
  font-family:'Times New Roman', Times, serif;
}
.hidden{
  display: none;
}
.goals{
  display: flex;
  font-size: 24px;
  margin-top: 50px;
  align-items: center;
}
.goalsname{
}
.expandingTextarea {
  margin-left: 3px;
  border-radius: 17px;
  align-items: center;
  margin-top: 8px;
  display: flex;
  width: 400px;          /* Set the initial width */
  height: 45px;       /* Minimum height of the textarea */
  padding: 10px;          /* Padding inside the textarea */
  resize: none;           /* Disable manual resizing */
  font-size: 16px;        
}


.profile{
  margin-top: 50px;
  align-items: center;
  font-family: 'poppins';
  position: relative;
}
.caret-icon{
  margin-left: 10px;
}
.dropdown{
  padding-top: 120px;
  padding-right: 100px;
}
.profile:hover .dropdown{
 
}
.inventory-navbar{
  margin-top: 50px;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}
/* Remove text decoration and style the inventory link */
.inventory-link {
  text-decoration: none;
  color: inherit;  /* Ensure it inherits the color from the parent (navbar) */
  font-family:'Times New Roman', Times, serif;

}
/*goals*/
.goal-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

#goalInput {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.add-button {
  padding: 5px 10px;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.tags-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.goal-tag {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.goal-tag:hover {
  background-color: #bbb;
}
#goalInput {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;  /* Prevent resizing */
  font-size: 16px;
  appearance: none;  /* Removes default styling */
  -moz-appearance: none;  /* Removes styling in Firefox */
  -webkit-appearance: none;  /* Removes styling in WebKit browsers */
}




@media (max-width:800px) {
  .navbar{
    padding:20px 4%;
  }
  .navbar-left ul{
    display: none;

  }
  .navbar img{
    height: 25px;
  }
}
@media (max-width:500px){
    .navbar img{
      height: 20px;
    }
    .navbar-right{
      gap: 10px;
    }
}
